.cell {
    max-width: 700px;
    padding-bottom: 50px;
}

.timePlace{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.place {
    font-weight: 700;
    font-size: 120%;
    color: rgba(231, 90, 124, 1);
}

.time {
    font-style: italic;
}

.discription {
    font-size: 1.5rem;
}