.blog-list-container {
    margin: 0 15%;
}

div.blog-post-preview {
    font-size: 2rem;
    border-bottom: 2px solid #e6e6e6;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
h1 > * {
    font-size: 3rem;
    text-decoration-line: none;
}
.blog-date {
    font-size: 1.5rem !important;
    font-weight: 100 !important;
}