/*
Color Pallet
$color1: rgba(44, 54, 63, 1);
$color2: rgba(231, 90, 124, 1);
$color3: rgba(242, 245, 234, 1);
$color4: rgba(214, 219, 210, 1);
$color5: rgba(187, 199, 164, 1);
*/

html {
    background-color:white;
    font-family: 'Karla', sans-serif;
    color: black;
    font-size: 62.5%;
}

.main {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 120px 100px;
}

.center {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.subheading {
    font-size: 100px;
    padding-bottom: 100px;
}

a {
    color: inherit;
}

a:hover {
    color: #77dd77;
}