/*
Color Pallet
$color1: rgba(44, 54, 63, 1);
$color2: rgba(231, 90, 124, 1);
$color3: rgba(242, 245, 234, 1);
$color4: rgba(214, 219, 210, 1);
$color5: rgba(187, 199, 164, 1);
*/

html,
body {
    background-color:white;
    color: black;
    font-size: 62.5%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
/* 
.body {
    display: flex;
    flex-direction: column;
} */

.center {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

a {
    color: inherit;
}

a:hover {
    color: #77dd77;
}