.container {
    margin: 0 10%;
}

.subheadings {
    color: lightskyblue;
    font-size: 4rem;
    padding-bottom: 3rem;
}

.intro {
    padding: 0 10%;
    padding-bottom: 200px;
    padding-bottom: 10%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .introSubContainer {

} */

.introHello{
    font-size: 5rem;
    padding-bottom: 10rem;
}

.introTagline {
    font-size: 5rem;
    max-width: 700px;
    padding-bottom: 10rem;
}

.introEmail {
    font-size: 3rem;
}

.introEmail a:hover {
    color: #77dd77;
}

.background {
    display: grid;
    justify-content: center;
    padding-bottom: 20rem;
}

.backgroundTextContainer {
    font-size: 2rem;
    max-width: 700px;
}

.projects {
    display: grid;
    justify-content: center;
}

.projectsTable {
    font-size: 2rem;
    max-width: 700px;
    padding-block-end: 15rem;
}

@media (max-width: 850px) {
    .intro{
        padding: 0;
    }

    .introHello{
        font-size: 7vw;
        padding-bottom: 50px;
    }
    
    .introTagline {
        font-size: 7vw;
        max-width: 700px;
    }

    .introEmail {
        font-size: 5vw;
    }
}
